.request-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #de4a25;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  color: white;
}

.request-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Increased to accommodate two columns */
  gap: 20px;
}

.form-column {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.half-width {
  width: 48%; /* Each input will take up half of the available space */
}

.full-width {
  width: 100%; /* Full width for the issue/request textarea */
}

.form-actions {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically, if needed */
  margin-top: 5px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mat-spinner {
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

select#select_request {
  padding: 10px;
  background-color: beige;
  border-radius: 6px;
}

button {
  padding: 10px;
  background-color: #de4a25;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 6px;
}
button:hover {
  background-color: #ff8161;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
  margin-left: 10px;
}

.cancel-btn:hover {
  background-color: #aaa;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .request-form {
    max-width: 100%; /* Allow full width on smaller screens */
    gap: 15px; /* Reduced gap for mobile */
  }

  .form-column {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }

  .half-width {
    width: 100%; /* Full width on mobile */
  }

  .form-actions {
    width: 100%; /* Make button width full on mobile */
    margin-top: 10px;
  }

  .mat-spinner {
    margin: 0 auto;
  }

  select#select_request {
    width: 100%; /* Make select input full width */
    padding: 12px;
  }
}