<div class="dialog-container">
  <h3 style="text-align: center;">For Release Request</h3>
  
  <form (ngSubmit)="submitForReleaseForm()" #releaseForm="ngForm">
    <div class="form-row">
      <div class="form-group">
        <label for="control_no">Ref. #:</label>
        <input type="text" id="control_no" [(ngModel)]="selectedReport.control_no" name="control_no" readonly>
      </div>
      <div class="form-group">
        <label for="date_released">Date Released:*</label>
        <input type="datetime-local" id="date_released" [(ngModel)]="selectedReport.date_released" name="date_released" required #dateReleased="ngModel">
        <div *ngIf="dateReleased.invalid && dateReleased.touched" class="error-message">
          Please enter a date released.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="date_started">Date Started:</label>
        <input
          type="datetime-local"
          id="date_started"
          [value]="selectedReport?.date_started"
          name="date_started"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="datetime_accomplished">Datetime Accomplished:</label>
        <input type="datetime-local" id="datetime_accomplished" [(ngModel)]="selectedReport.datetime_accomplished" name="datetime_accomplished" readonly>
      </div>
    </div>

    <div *ngIf="selectedReport?.signature" class="signature-display">
      <img [src]="selectedReport.signature" alt="Signature" />
    </div>
    <div class="form-group">
      <label for="released_to">Received By:</label>
      <input type="text" id="released_to" [(ngModel)]="selectedReport.name" name="released_to">
    </div><br>

    <div class="dialog-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancel</button>
      <button 
        *ngIf="!selectedReport?.signature" 
        type="button" 
        (click)="showSignaturePad()" 
        class="btn btn-secondary"
      >
        Add Signature
      </button>

      <button 
        type="submit" 
        [disabled]="releaseForm.invalid || isButtonLoading || !selectedReport.signature" 
        class="btn btn-success"
      >
        <i class="fas fa-check-circle"></i> Release
        <span *ngIf="!isButtonLoading">&nbsp;</span>
        <span *ngIf="isButtonLoading" class="ediTask-spinner"></span>
      </button>
    </div><br>
  </form>

  <div *ngIf="isSignaturePadVisible" class="signature-container">
    <canvas #signaturePad></canvas>
    <div class="signature-actions">
      <button (click)="clearSignature()" class="btn btn-light">
        Clear
      </button>
      <button (click)="saveSignature()" class="btn btn-success">
        <i class="fas fa-save"></i>
        <span *ngIf="!isSaveButtonLoading">Save</span>
        <span *ngIf="isSaveButtonLoading" class="ediTask-spinner"></span>
      </button>
    </div>
  </div>
</div>