<mat-progress-bar class="custom-progress" *ngIf="isSearchLoading" mode="indeterminate"></mat-progress-bar>

<div class="clients-container">
  <!-- PROD and  SSL-->
  <img src="/assets/ets logo2.png" alt="ETS Logo" id="Logo" class="etslogo"><br>

<!-- Toggle Button for Login (Mobile Only) -->
<button class="toggle-login-button" (click)="toggleLoginSection()" *ngIf="isMobile">
 Login
</button>

  <!-- Login Section -->
  <div class="login-section" [class.hidden]="!showLoginOnMobile && isMobile">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <input type="text" placeholder="ID Number" class="login-input" formControlName="id_number" required>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            class="login-input"
            formControlName="password"
            required
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePassword()"
            aria-label="Toggle password visibility"
          >
            {{ showPassword ? 'hide' : 'show' }}
          </button>
        </div>
      <button type="submit" class="login-button" [disabled]="isLoginLoading">
        <span *ngIf="!isLoginLoading">Login</span>
        <div *ngIf="isLoginLoading" class="spinner-container">
          <div class="spinner"></div>
        </div>
      </button>      
    </form>
  </div>

  <!-- Request Section -->
  <div class="request-section">
    <button class="new-request-button" (click)="openRequestDialog()">Make New Request</button>
    <div class="search-section">
      <label for="search-type">Search Ref. #. / Name</label>
      <div class="search-bar-container">
        <input
          type="text"
          [(ngModel)]="search_box"
          placeholder="Search..."
          class="search-bar"
          (keydown.enter)="onSearch()"
        />
        <button type="button" class="search-button" (click)="onSearch()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1)">
            <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Table Section -->
   <div class="container">
    <div class="table-container">
      <table *ngIf="searchResults.length > 0" class="results-table">
        <thead>
          <tr style="text-align: center;">
            <th>Reference No.</th>
            <th>NAME</th>
            <!-- <th>Contact No.</th> -->
            <th>ISSUE/REQUEST</th>
            <th>DATE OF REQUEST</th>
            <th>STATUS</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of searchResults">
            <td>{{ result.control_no }}</td>
            <td >{{ result.name }}</td>
            <!-- <td >{{ result.contact_no }}</td> -->
            <td >{{ result.issue_request }}</td>
            <td >{{ result.date_of_request | date }}</td>
            <td >{{ result.request_status }}</td>
            <td class="view-btn">
              <button (click)="openViewDialog(result)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>

   <router-outlet></router-outlet>

</div>
