* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.custom-progress {
  background-color: #dc3545;
}

.clients-container {
  background-image: url('/assets/BG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#Logo {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 5rem;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.toggle-login-button {
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
}

.login-section {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.login-input {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 150px;
}

.login-input:focus {
  border-color: #007bff;
}

.login-button {
  padding: 0.6rem;
  font-size: 1.1rem;
  background-color: #de4a25;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
}

.login-button:disabled {
  background-color: #b0c4de;
}

.login-button:hover:enabled {
  background-color: #ff8161;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeIn 0.2s ease-in;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #fff;
  border-right: 3px solid #de4a25;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.login-section.show {
  display: block;
}

.close-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #de4a25;
}

.new-request-button {
  width: 100%;
  max-width: 500px;
  background-color: #de4a25;
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.new-request-button:hover {
  background-color: #ff8161;
}

.search-section {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  gap: 8px;
}

.search-bar {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 300px;
}

.search-bar:focus {
  border-color: #007bff;
}

.search-button {
  background-color: #de4a25;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  width: auto;
}

.search-button:hover {
  background-color: #ff8161;
}

.container {
  max-width: 1440px;
  width: 100%;
  background: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table thead {
  background: #3f3f3f;
  color: #fff;
}

.results-table thead tr th {
  font-size: 0.6rem;
  padding: 0.8rem;
  vertical-align: top;
  border: 1px solid #aab7b8;
}

.results-table tbody tr td {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  border: 1px solid #aab7b8;
  padding: 0.8rem;
}

.results-table button {
  background-color: #de4a25;
  color: white;
  padding: 6px 12px;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.results-table button:hover {
  background-color: #ff8161;
}

.results-table button:focus {
  outline: none;
}

.error {
  text-align: center;
  color: red;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  padding: 0 10px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  #Logo {
    height: 4rem;
  }
}

@media (max-width: 768px) {
  #Logo {
    height: 3rem;
    top: 5px;
    left: 15px;
  }

  .close-button {
    display: block;
  }

  .results-table thead {
    display: none;
  }

  .results-table tr,
  .results-table td {
    display: block;
    width: 100%;
  }

  .results-table tr {
    margin-bottom: 1rem;
  }

  .results-table tbody tr td {
    text-align: left;
    position: relative;
  }

  .new-request-button {
    display: none;
  }
}

@media (max-width: 480px) {
  #Logo {
    height: 2.5rem;
    top: 5px;
    left: 10px;
  }

  .toggle-login-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #de4a25;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    z-index: 1000;
  }

  .login-section {
    position: static;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .login-form {
    flex-direction: column;
  }

  .login-input,
  .login-button {
    width: auto;
  }

  .new-request-button {
    display: block;
  }

  .search-bar {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 200px;
  }

  .search-button {
    background-color: #de4a25;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
    width: auto;
    font-size: 0.9rem;
  }

  .results-table th,
  .results-table td {
    font-size: 0.8rem;
    padding: 0.2rem;
  }
}