<div class="modal" >
    <div class="modal-content">
      <span class="close" (click)="closeDialog()">x</span>
      <h2>Change Password</h2>
      <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
        <div class="form-column">
          <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required class="form-control" placeholder="Current Password" autocomplete="current-password">
          
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required class="form-control" placeholder="New Password" autocomplete="new-password">
        </div>
        <div class="form-column">
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required class="form-control" placeholder="Confirm New Password" autocomplete="new-password">
        </div>
        <div class="form-column full-width">
          <button type="submit" [disabled]="changePasswordForm.invalid || isChangingPassword" class="btn btn-primary">
            <span *ngIf="isChangingPassword" class="button-spinner"></span> 
            <span *ngIf="!isChangingPassword">Save Changes</span>
          </button>
        </div>  
      </form>
    </div>
  </div>
  